# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
env/
*.sqlite3

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Streamlit
.streamlit/secrets.toml

# Excel temporários
~$*

# Outros
*.log